<h1>Invite Member</h1>
<%= link_to "Log out", destroy_user_session_path(), method: "delete" %>


<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" ><br><br>
  <input type="submit" value="Invite">
</form> 