<h1>Profile</h1>
<%= link_to "Log out", destroy_user_session_path(), method: "delete" %>

<label for="fname">First name:</label>
<%= current_user.first_name %><br>
<label for="lname">Last name:</label>
<%= current_user.last_name %><br>
<label for="email">Email:</label>
<%= current_user.email %>


